@import "../node_modules/bootstrap/scss/bootstrap";

.footer{
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 60px;
  line-height: 59px;
  background-color: $gray-300;
}
.breadcrumb{
  margin-bottom: 0;
}
#content-wrapper{
  .container{
    @extend .mt-4;
  }
}